* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
    color: white;
}

li, h1, ul {
    display: inline-block;
}

li {
    color: green;
}

ul {
    margin-left: 80%;
}

li:hover {
    cursor: pointer;
    color: blueviolet;
}

input {
    padding: 15px;
    width: 50%;
}

.searchbar {
    text-align: center;
    padding: 50px;
}

.box {
    border: 2px solid black;
    display: inline-block;
    margin: 20px;
    padding: 20px;
}

.Products {
    text-align: center;
}

.box:hover{

    background-color: rgba(166, 81, 32, 0.239);
    color:white
}
button:hover{
    cursor:pointer;
    background-color: blueviolet;
}

.about {

    color:navy;
    text-align:center;
    
}
.contact{
    margin-top: 40px;
    text-align: center;
    background-color:black;
    color:bisque;
    height:100px;
}
          
