* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    padding: 10px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: floralwhite;
}

ul {
    list-style: none;
    display: flex;
    margin-left: auto;
}

li {
    color: green;
    font-size: medium;
    margin: 0 10px;
}

li:hover {
    cursor: pointer;
    color: blueviolet;
}

.searchbar {
    text-align: center;
    padding: 50px;
    background-color: cadetblue;
}

input {
    padding: 15px;
    width: 50%;
}

.products {
    text-align: center;
    background-color: lightsteelblue;
